.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 9.375rem;
  height: 100vh;
  padding-left: 1.5rem;
  background: var(--color-background);
  border-right: 1px solid var(--color-orange);
  box-shadow: 0 0 0.8rem rgb(0, 0, 0);
  & nav {
    margin-top: 4rem;
  }
  & .navbar__title {
    font-size: 0.75rem;
    color: var(--color-text-secondary);
    margin-top: 2rem;
    margin-bottom: 10px;
  }

  & .navbar__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.navbar__item {
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;
  &.active {
    font-weight: 800;
    color: var(--color-text);
    width: 97%;
    background-color: var(--color-grey);
    padding: 0.2rem 0rem 0.2rem 0.4rem;
    &::after {
      content: " ";
      background-color: var(--color-text);
      position: absolute;
      top: 0;
      right: 0;
      width: 0.2rem;
      height: 100%;
    }
  }
}
