.statusboard {
  flex: 1;
  padding: 20px;
  margin-left: 200px;
}

.taskboard__columns {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  flex-wrap: wrap;
  min-width: 50.0625rem;
}

.taskboard__column {
  background: var(--color-background);
  border-radius: 6px;
  padding: 10px;
  width: 250px;
  flex-shrink: 0;
}

.taskboard__title {
  font-size: 16px;
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
}

.taskcard {
  background: var(--color-background);
  color: var(--color-text-secondary);
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
  border-width: 10px;
  padding: 10px;
  margin-top: 10px;
}

.taskcard__title {
  color: var(--color-text);
  margin: 0 0 5px;
}

.taskcard__label {
  display: inline-block;
  background: var(--color-black);
  color: var(--color-background);
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 3px;
}
.taskcard__task-types {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
